<script type="text/javascript" src="{{ "/js/jquery-1.11.1.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" }}"></script>

<script type="text/javascript">

	$('document').ready(function(){
		$('#about-cover-photo').toggle("fade", 500);
		$('#cover-photo-titles').toggle("slide", {direction: 'right'}, 1000);
	});

</script>