<footer class="site-footer">

  <div class="container">

    <div class="col-xs-12">
        
        {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/github.SVG" | prepend: site.baseurl }}">
          </a>
        {% endif %}

        {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/twitter.SVG" | prepend: site.baseurl }}">
          </a>
        {% endif %}

        {% if site.instagram_username %}
          <a href="https://instagram.com/{{ site.instagram_username }}">
            <img class="icon--images hover-fade" src="{{ "/svg/instagram.SVG" | prepend: site.baseurl }}">
          </a>
        {% endif %}
          
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
          <img class="icon--images hover-fade" src="{{ "/svg/rss.SVG" | prepend: site.baseurl }}">
        </a>

    </div>

    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
      <br><p>{{ site.title }}</p>
    </div>

  </div>

</footer>
