<script type="text/javascript" src="{{ "/js/jquery-1.11.1.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" }}"></script>

<header class="site-header">

  <div class="wrapper">

    <a class="site-title hover-color" href="{{ site.baseurl }}/"><span style="font-weight: 300;">J</span>Zhou</a>

    <nav class="site-nav">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link hover-color" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>

