<div class="resume-section">

  <div class="row">

    <div class="col-sm-6 col-xs-12">
      <p class="section-title">Quick Stats</p>
    </div>

    <div class="col-sm-6 col-xs-12 quick-stats">
      <div>
        <h4>{{ site.data.profile.about.year }}</h4>
        <h4>{{ site.data.profile.about.college }}</h4>
        <h4>{{ site.data.profile.about.major }}</h4>
        <h4>Living in {{ site.data.profile.about.location }}</h4>
      </div>
    </div>

  </div>

</div>

<div class="resume-section">

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <p class="section-title">Contact</p>
    </div>

    <div class="col-sm-6 col-xs-12 quick-stats">
      <div>
        <h4>{{ site.data.profile.contact.phone }}</h4>
        <h4>{{ site.data.profile.contact.email }}</h4>
      </div>
    </div>
  </div>

</div>