<script type="text/javascript" src="{{ "/js/jquery-1.11.1.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.js" }}"></script>
<script type="text/javascript" src="{{ "/js/jquery-ui.min.js" }}"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" }}"></script>

<script type="text/javascript">
    
    var state = true;
    var fade = true;

    var primary_color = "#0099CC";
    var secondary_color = "white";

    $('document').ready(function(){

      $('#about-cover-photo').toggle("fade", 500);
      $('#cover-photo-titles').toggle("slide", {direction: 'right'}, 1000);
      
      $('.navbar-brand').hover(function(){
        if(state){
          $('.hover-college').animate({right:'0px', opacity:1},200);
          $('#the-u').animate({color: '#0099CC'},200);
        }
        else{
          $('.hover-college').animate({right:'193px', opacity:0},200);
          $('#the-u').animate({color: "#000"},200);
        }
      
        state = !state;      
      
      });

      $('.hover-fade').hover(function(){
        if(fade){
          $(this).animate({opacity: 0.5}, 200);
        }
        else{
          $(this).animate({opacity: 1}, 200);
        }

        fade = !fade;

      });

    });
</script>