#about-cover-photo{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
}

#cover-photo-titles{

	position: relative;
	text-align: center;
	top: 50vh;
	overflow: hidden;
	float: right;
	width: 50vmax;
	display: none;

	& > div{
		font-weight: 300;
		font-size: 3vmin; 
		line-height: 1;
		padding: 3vmin 15vw 3vmin 3vmin;
		color: white;		
		background-color: #0099CC;
	}
}

.resume{

	& > .resume-section{

		& h1{
			text-align: center;
			font-size: 12vh;
			font-weight: 300;
			color: $primary-color;
		}

		& h2{
			font-weight: 300;
			font-size: 6vh;
			color: $primary-color-dark;
		}

		& h4{
			font-weight: 300;
			font-size: 3.5vh;
			color: $primary-color-dark;
		}
		
		& p {
			font-size: 2.6vh;
			font-weight: 300;
		}

	}

}

.quick-stats{
	text-align: center;
	& div{
		display: inline-block;
		text-align: left;
	}
}