---
layout: default
---
<div class="post col-sm-offset-2 col-sm-8 col-xs-12">

  <header class="post-header">
    <div class="page-header">
      <h4 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h4>
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h1>
      {% endif %}
    </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <hr>

  <div class="post-share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

</div>
